In [555]:
from rpy2.robjects import r
from runr.convert import rpy2_to_pandas
import pandas as pd
script_result = r("mtcars")
data = pd.DataFrame(rpy2_to_pandas(script_result))

if data.columns[0] == 0:
    data = data.rename(columns={data.columns[0]: "UnnamedColumn"})

data.insert(0, 'Index', data.index)
index = list(data['Index'])
col_names = data.columns[:].tolist()

html_table = f"<table class=\"table table-striped table-hover\">"
html_table +=f"<thead>"
for column in col_names:
    html_table += f"<th scope=\"col\">{column}</th>"
html_table += f"</thead>"
col = 0
line = 0
for row in index:
    html_table += "<tr>"
    for row_col in col_names:
        if row_col == 'Index':
            html_table += f"<th scope = \"row\">{data.loc[row,row_col]}</td>"
        else:
            html_table += f"<td>{data.loc[row,row_col]}</td>"
    html_table += "</tr>"
html_table += "</table>"
html_table

'<table class="table table-striped table-hover"><thead><th scope="col">Index</th><th scope="col">mpg</th><th scope="col">cyl</th><th scope="col">disp</th><th scope="col">hp</th><th scope="col">drat</th><th scope="col">wt</th><th scope="col">qsec</th><th scope="col">vs</th><th scope="col">am</th><th scope="col">gear</th><th scope="col">carb</th></thead><tr><th scope = "row">Mazda RX4</td><td>21.0</td><td>6.0</td><td>160.0</td><td>110.0</td><td>3.9</td><td>2.62</td><td>16.46</td><td>0.0</td><td>1.0</td><td>4.0</td><td>4.0</td></tr><tr><th scope = "row">Mazda RX4 Wag</td><td>21.0</td><td>6.0</td><td>160.0</td><td>110.0</td><td>3.9</td><td>2.875</td><td>17.02</td><td>0.0</td><td>1.0</td><td>4.0</td><td>4.0</td></tr><tr><th scope = "row">Datsun 710</td><td>22.8</td><td>4.0</td><td>108.0</td><td>93.0</td><td>3.85</td><td>2.32</td><td>18.61</td><td>1.0</td><td>1.0</td><td>4.0</td><td>1.0</td></tr><tr><th scope = "row">Hornet 4 Drive</td><td>21.4</td><td>6.0</td><td>258.0</td><td>110.0</td><td>3.08</td><td>3.215</td><td>19.44</td><td>1.0</td><td>0.0</td><td>3.0</td><td>1.0</td></tr><tr><th scope = "row">Hornet Sportabout</td><td>18.7</td><td>8.0</td><td>360.0</td><td>175.0</td><td>3.15</td><td>3.44</td><td>17.02</td><td>0.0</td><td>0.0</td><td>3.0</td><td>2.0</td></tr><tr><th scope = "row">Valiant</td><td>18.1</td><td>6.0</td><td>225.0</td><td>105.0</td><td>2.76</td><td>3.46</td><td>20.22</td><td>1.0</td><td>0.0</td><td>3.0</td><td>1.0</td></tr><tr><th scope = "row">Duster 360</td><td>14.3</td><td>8.0</td><td>360.0</td><td>245.0</td><td>3.21</td><td>3.57</td><td>15.84</td><td>0.0</td><td>0.0</td><td>3.0</td><td>4.0</td></tr><tr><th scope = "row">Merc 240D</td><td>24.4</td><td>4.0</td><td>146.7</td><td>62.0</td><td>3.69</td><td>3.19</td><td>20.0</td><td>1.0</td><td>0.0</td><td>4.0</td><td>2.0</td></tr><tr><th scope = "row">Merc 230</td><td>22.8</td><td>4.0</td><td>140.8</td><td>95.0</td><td>3.92</td><td>3.15</td><td>22.9</td><td>1.0</td><td>0.0</td><td>4.0</td><td>2.0</td></tr><tr><th scope = "row">Merc 280</td><td>19.2</td><td>6.0</td><td>167.6</td><td>123.0</td><td>3.92</td><td>3.44</td><td>18.3</td><td>1.0</td><td>0.0</td><td>4.0</td><td>4.0</td></tr><tr><th scope = "row">Merc 280C</td><td>17.8</td><td>6.0</td><td>167.6</td><td>123.0</td><td>3.92</td><td>3.44</td><td>18.9</td><td>1.0</td><td>0.0</td><td>4.0</td><td>4.0</td></tr><tr><th scope = "row">Merc 450SE</td><td>16.4</td><td>8.0</td><td>275.8</td><td>180.0</td><td>3.07</td><td>4.07</td><td>17.4</td><td>0.0</td><td>0.0</td><td>3.0</td><td>3.0</td></tr><tr><th scope = "row">Merc 450SL</td><td>17.3</td><td>8.0</td><td>275.8</td><td>180.0</td><td>3.07</td><td>3.73</td><td>17.6</td><td>0.0</td><td>0.0</td><td>3.0</td><td>3.0</td></tr><tr><th scope = "row">Merc 450SLC</td><td>15.2</td><td>8.0</td><td>275.8</td><td>180.0</td><td>3.07</td><td>3.78</td><td>18.0</td><td>0.0</td><td>0.0</td><td>3.0</td><td>3.0</td></tr><tr><th scope = "row">Cadillac Fleetwood</td><td>10.4</td><td>8.0</td><td>472.0</td><td>205.0</td><td>2.93</td><td>5.25</td><td>17.98</td><td>0.0</td><td>0.0</td><td>3.0</td><td>4.0</td></tr><tr><th scope = "row">Lincoln Continental</td><td>10.4</td><td>8.0</td><td>460.0</td><td>215.0</td><td>3.0</td><td>5.424</td><td>17.82</td><td>0.0</td><td>0.0</td><td>3.0</td><td>4.0</td></tr><tr><th scope = "row">Chrysler Imperial</td><td>14.7</td><td>8.0</td><td>440.0</td><td>230.0</td><td>3.23</td><td>5.345</td><td>17.42</td><td>0.0</td><td>0.0</td><td>3.0</td><td>4.0</td></tr><tr><th scope = "row">Fiat 128</td><td>32.4</td><td>4.0</td><td>78.7</td><td>66.0</td><td>4.08</td><td>2.2</td><td>19.47</td><td>1.0</td><td>1.0</td><td>4.0</td><td>1.0</td></tr><tr><th scope = "row">Honda Civic</td><td>30.4</td><td>4.0</td><td>75.7</td><td>52.0</td><td>4.93</td><td>1.615</td><td>18.52</td><td>1.0</td><td>1.0</td><td>4.0</td><td>2.0</td></tr><tr><th scope = "row">Toyota Corolla</td><td>33.9</td><td>4.0</td><td>71.1</td><td>65.0</td><td>4.22</td><td>1.835</td><td>19.9</td><td>1.0</td><td>1.0</td><td>4.0</td><td>1.0</td></tr><tr><th scope = "row">Toyota Corona</td><td>21.5</td><td>4.0</td><td>120.1</td><td>97.0</td><td>3.7</td><td>2.465</td><td>20.01</td><td>1.0</td><td>0.0</td><td>3.0</td><td>1.0</td></tr><tr><th scope = "row">Dodge Challenger</td><td>15.5</td><td>8.0</td><td>318.0</td><td>150.0</td><td>2.76</td><td>3.52</td><td>16.87</td><td>0.0</td><td>0.0</td><td>3.0</td><td>2.0</td></tr><tr><th scope = "row">AMC Javelin</td><td>15.2</td><td>8.0</td><td>304.0</td><td>150.0</td><td>3.15</td><td>3.435</td><td>17.3</td><td>0.0</td><td>0.0</td><td>3.0</td><td>2.0</td></tr><tr><th scope = "row">Camaro Z28</td><td>13.3</td><td>8.0</td><td>350.0</td><td>245.0</td><td>3.73</td><td>3.84</td><td>15.41</td><td>0.0</td><td>0.0</td><td>3.0</td><td>4.0</td></tr><tr><th scope = "row">Pontiac Firebird</td><td>19.2</td><td>8.0</td><td>400.0</td><td>175.0</td><td>3.08</td><td>3.845</td><td>17.05</td><td>0.0</td><td>0.0</td><td>3.0</td><td>2.0</td></tr><tr><th scope = "row">Fiat X1-9</td><td>27.3</td><td>4.0</td><td>79.0</td><td>66.0</td><td>4.08</td><td>1.935</td><td>18.9</td><td>1.0</td><td>1.0</td><td>4.0</td><td>1.0</td></tr><tr><th scope = "row">Porsche 914-2</td><td>26.0</td><td>4.0</td><td>120.3</td><td>91.0</td><td>4.43</td><td>2.14</td><td>16.7</td><td>0.0</td><td>1.0</td><td>5.0</td><td>2.0</td></tr><tr><th scope = "row">Lotus Europa</td><td>30.4</td><td>4.0</td><td>95.1</td><td>113.0</td><td>3.77</td><td>1.513</td><td>16.9</td><td>1.0</td><td>1.0</td><td>5.0</td><td>2.0</td></tr><tr><th scope = "row">Ford Pantera L</td><td>15.8</td><td>8.0</td><td>351.0</td><td>264.0</td><td>4.22</td><td>3.17</td><td>14.5</td><td>0.0</td><td>1.0</td><td>5.0</td><td>4.0</td></tr><tr><th scope = "row">Ferrari Dino</td><td>19.7</td><td>6.0</td><td>145.0</td><td>175.0</td><td>3.62</td><td>2.77</td><td>15.5</td><td>0.0</td><td>1.0</td><td>5.0</td><td>6.0</td></tr><tr><th scope = "row">Maserati Bora</td><td>15.0</td><td>8.0</td><td>301.0</td><td>335.0</td><td>3.54</td><td>3.57</td><td>14.6</td><td>0.0</td><td>1.0</td><td>5.0</td><td>8.0</td></tr><tr><th scope = "row">Volvo 142E</td><td>21.4</td><td>4.0</td><td>121.0</td><td>109.0</td><td>4.11</td><td>2.78</td><td>18.6</td><td>1.0</td><td>1.0</td><td>4.0</td><td>2.0</td></tr></table>'

'<table class="table table-striped table-hover"><thead><th scope="col">Index</th><th scope="col">UnnamedColumn</th></thead><tr><th scope = "row">0</td><td>21.0</td></tr><tr><th scope = "row">1</td><td>21.0</td></tr><tr><th scope = "row">2</td><td>22.8</td></tr><tr><th scope = "row">3</td><td>21.4</td></tr><tr><th scope = "row">4</td><td>18.7</td></tr><tr><th scope = "row">5</td><td>18.1</td></tr><tr><th scope = "row">6</td><td>14.3</td></tr><tr><th scope = "row">7</td><td>24.4</td></tr><tr><th scope = "row">8</td><td>22.8</td></tr><tr><th scope = "row">9</td><td>19.2</td></tr></table>'

In [ ]:

    for row_col in col_names:
        print(row_col + str(x))
        if x == 0:
            html_table += f"<th scope = \"row\">{data.loc[x,row_col]}</td>"
            x = x+1
        else:
            html_table += f"<td>{data.loc[x,row_col]}</td>"

In [265]:
thead = 0
html_table = f"<table class=\"table table-striped table-hover\">"
for line in string_table.splitlines():
    if thead == 0:
        html_table += f"<thead>"
        for n in line.split("__NEWLINE__"):
            html_table += f"<th scope=\"col\">{n}</th>"
    else:
        pass
    item_index = 0
    for n in line.split("__NEWLINE__"):
        if thead != 0:
            if item_index == 0:
                html_table += f"<th scope = \"row\">{n}</td>"
            else:
                html_table += f"<td>{n}</td>"
        item_index += 1
    if thead == 0:
        html_table += f"</thead>"
    else:
        pass
    html_table += "<tr>"
    thead += 1
html_table += "</table>"

  Index__NEWLINE__ Column1__NEWLINE__
0     0__NEWLINE__    21.0__NEWLINE__
1     1__NEWLINE__    21.0__NEWLINE__
2     2__NEWLINE__    22.8__NEWLINE__
3     3__NEWLINE__    21.4__NEWLINE__
4     4__NEWLINE__    18.7__NEWLINE__
5     5__NEWLINE__    18.1__NEWLINE__
6     6__NEWLINE__    14.3__NEWLINE__
7     7__NEWLINE__    24.4__NEWLINE__
8     8__NEWLINE__    22.8__NEWLINE__
9     9__NEWLINE__    19.2__NEWLINE__

In [266]:
data

  Index__NEWLINE__ Column1__NEWLINE__
0     0__NEWLINE__    21.0__NEWLINE__
1     1__NEWLINE__    21.0__NEWLINE__
2     2__NEWLINE__    22.8__NEWLINE__
3     3__NEWLINE__    21.4__NEWLINE__
4     4__NEWLINE__    18.7__NEWLINE__
5     5__NEWLINE__    18.1__NEWLINE__
6     6__NEWLINE__    14.3__NEWLINE__
7     7__NEWLINE__    24.4__NEWLINE__
8     8__NEWLINE__    22.8__NEWLINE__
9     9__NEWLINE__    19.2__NEWLINE__

In [ ]:
from rpy2.robjects import r
from runr.convert import rpy2_to_pandas
import pandas as pd
script_result = r("mtcars[1:10,1:1]")
data = pd.DataFrame(rpy2_to_pandas(script_result))
data.insert(0, 'Index', data.index)
names_col = data.columns[:].tolist()
num_col = len(data.columns)
num_row = len(data)

if data.columns.values[1] == 0:
    for x in names_col:
        col = 1
        data.columns.values[col] = "Column" + str(col)
        col =+ 1

names_col = data.columns[:].tolist()

for x in data:
    data[x] = data[x].astype(str)
for x in range(num_row):
    data.iloc[0:num_row, x:(x + 1)] = data.iloc[0:num_row, x:(x + 1)] + '__NEWLINE__'
for x in range(num_col):
    names_col[x] = names_col[x] + '__NEWLINE__'
data.columns = names_col

for x in names_col:
    data[x] = data[x].str.strip()
for x in names_col:
    data[x] = data[x].str.lstrip()

data_string = data.to_string(index=True)
string_table = data_string

thead = 0
html_table = f"<table class=\"table table-striped table-hover\">"
for line in string_table.splitlines():
    if thead == 0:
        html_table += f"<thead>"
        for n in line.split("__NEWLINE__"):
            html_table += f"<th scope=\"col\">{n}</th>"
    else:
        pass
    item_index = 0
    for n in line.split("__NEWLINE__"):
        if thead != 0:
            if item_index == 0:
                html_table += f"<th scope = \"row\">{n}</td>"
            else:
                html_table += f"<td>{n}</td>"
        item_index += 1
    if thead == 0:
        html_table += f"</thead>"
    else:
        pass
    html_table += "<tr>"
    thead += 1
html_table += "</table>"

In [251]:
html_table

'<table class="table table-striped table-hover"><thead><th scope="col">Index</th><th scope="col"> Column1</th><th scope="col"></th></thead><tr><th scope = "row">    0</td><td>    21.0</td><td></td><tr><th scope = "row">    1</td><td>    21.0</td><td></td><tr><th scope = "row">    2</td><td>    22.8</td><td></td><tr><th scope = "row">    3</td><td>    21.4</td><td></td><tr><th scope = "row">    4</td><td>    18.7</td><td></td><tr><th scope = "row">    5</td><td>    18.1</td><td></td><tr><th scope = "row">    6</td><td>    14.3</td><td></td><tr><th scope = "row">    7</td><td>    24.4</td><td></td><tr><th scope = "row">    8</td><td>    22.8</td><td></td><tr><th scope = "row">    9</td><td>    19.2</td><td></td><tr></table>'